body {
    margin: 0;
    padding: 0;
}

.whole_body {
    display: flex;
    width: 100%;
    gap: 5%;
    min-height: 100vh;
    align-items: stretch;
}

.left_section {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.right_section {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.one {
    position: relative;
    background-image: url(./header_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20%;
}

@font-face {
    font-family: myCursive;
    src: url(fonts/myCursive.ttf);
}

li {
    font-size: x-large;
}

.tree {
    flex-grow: 1;
    padding: 2%;
    background-color: lightgray;
    font-family: cursive;
}

.four {
    position: relative;
    max-height: 200px;
    background-image: url(images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.two {
    background-color: lightgray;
    padding: 5%;
    position: relative;
    font-family: cursive;
    min-height: 125vh;

h2 {
    position: relative;
    left: 5%;
}

.five {
    flex-grow: 1;
    background-color: darkgray;
}
